# 1. Cloud Telemetry Security
SHAI_API_KEY=put_here_your_secret_api_key

# 2. Hugging Face Token (MLOps Pipeline)
HF_TOKEN=your_hf_token_here

# 3. Base HuggingFace model used for Fine-Tuning (shai train).
HF_BASE_MODEL=Qwen/Qwen2.5-Coder-7B-Instruct